@{
    Layout = "_Layout.cshtml";
}

<div class="row marketing">
    <div class="col-md-12">    
        <div class="bs-callout bs-callout-danger">
            <p>Gelieve vooraf telefonisch een afspraak te maken.</p>
            <p>Huisbezoeken zijn mogelijk, op aanvraag. Deze kunnen zowel overdag als na de schooluren plaatsvinden.</p>
        </div>
    </div>
</div>

<div class="row">    
    <div class="col-md-6">
        <p><strong>Kelly Meykens</strong></p>
        <p class="appointment-contact-detail">
            0476/69.24.39<br />
            kellymeykens&#64;vvl.be
        </p>
    </div>
</div>
<br />

<div class="row">    
    <div class="col-md-6">
        <p><strong>Anne-Mie Knaepen</strong></p>
        <p class="appointment-contact-detail">
            0497/44.92.37<br />
        </p>
    </div>
</div>
<br />

<div class="row">    
    <div class="col-md-6">
        <p><strong>Eva Baerts</strong></p>
        <p class="appointment-contact-detail">
            0472/68.76.64 <br />
            eva_baerts&#64;hotmail.com
        </p>
    </div>
</div>
<br />

<div class="row">    
    <div class="col-md-6">
        <p><strong>Nore Hamers</strong></p>
        <p class="appointment-contact-detail">
            0486/46.43.56<br />
            na 19u of via mail norehamers&#64;telenet.be
        </p>
    </div>
</div>

<div class="row marketing">
    <div class="col-md-12">    
        <p>
            Onze logopedisten zijn geconventioneerd bij het RIZIV en erkend door de FOD Volksgezondheid.
            Zowel voor logopedische als voor psychologische verstrekkingen zijn - in bepaalde 
            gevallen - terugbetalingen mogelijk door de mutualiteit.
        </p>        
    </div>
</div>
