@{
    Layout = "_Layout.cshtml";
}

 <div class="jumbotron">
    <img width="320px" src="/Content/logo.png" />              
</div>

<div class="row marketing">
<div class="col-md-12">
    <h3>Waarvoor kan je bij ons terecht?</h3>
    <p>
        Logopedisten zijn paramedici. Dit wil zeggen dat we nauw samenwerken met andere
        disciplines en dat we op voorschrift werken van een gespecialiseerd arts.
        <br /><br />
        Je kan bij onze logopedisten terecht voor het onderzoek en de behandeling van:
    </p>
    <ul>
        <li>Taalontwikkelingsstoornissen</li>
        <li>Articulatiestoornissen</li>
        <li>Stemstoornissen</li>
        <li>Afassie na CVA</li>
        <li>Communicatiestoornissen bij chronische aandoeningen</li>
        <li>Slikstoornissen</li>            
        <li>Wij behandelen zowel kinderen als volwassenen</li>
    </ul>
    <p>        
        Bij onze Klnisch Psychologe kan u terecht voor:        
    </p>
    <ul>
        <li>De afname van een intelligentieonderzoek</li>
        <li>
            Therapie op maat van u en\of uw kind. Afhankelijk van de problematiek (emotioneel,
            sociaal, gedragsmatig, zelfbeeld...) en van het individu wordt er therapie aangeboden.
            Het therapieplan verandert naargelang de intensiteit en complexiteit van het probleem.
        </li>
        <li>
            Indien nodig wordt er doorverwezen naar een gespecialiseerde hulpverlener of instantie.
        </li>
    </ul>
</div>      
</div> 
