@{
    Layout = "_Layout.cshtml";
}

 <div class="jumbotron">
    <img width="150px" src="http://fc07.deviantart.net/fs71/f/2013/073/2/4/png_glow_globe___ball___multi_coloured__2__by_jssanda-d5xzuhp.png" />
    <br />
    <h2>Groepspraktijk Praat-Paal</h2>
    <p class="lead">
        Logopedie & Klinische Psychologie
    </p>                
</div>

<div class="row marketing">
<div class="col-md-12">
    <h3>Waarvoor kan je bij ons terecht?</h3>
    <p>
        Logopedisten zijn paramedici. Dit wil zeggen dat we nauw samenwerken met andere
        disciplines en dat we op voorschrift werken van een gespecialiseerd arts.
        <br /><br />
        Je kan bij onze logopedisten tercht voor het onderzoek en de behandeling van:
        <ul>
            <li>Taalontwikkelingsstoornissen</li>
            <li>Articulatiestoornissen</li>
            <li>TestTestTest</li>
            <li>TestTest na CVA</li>
            <li>Communicatiestoornissen bij chronische aandoeningen</li>
            <li>Slikstoornissen</li>
            <li>Wij behandelen zowel kinderen als volwassenen</li>
        </ul>

        <br />
        ...
    </p>
</div>      
</div> 