@{
    Layout = "_Layout.cshtml";
}

<div class="row">    
    <div class="col-md-12">
        <address>
            <strong>
                Sint-Sebastiaanstraat 19<br />
                3553 Paal<br /><br />
            </strong>
            <abbr>Algemeen nummer</abbr> 011/42.60.31
        </address>

        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sint-Sebastiaanstraat+19+3553+Paal&amp;sll=51.260385,4.35772&amp;sspn=0.392308,1.203003&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Sint-Sebastiaanstraat+19,+3583+Beringen,+Limburg,+Vlaams+Gewest&amp;ll=51.045027,5.168851&amp;spn=0.006158,0.018797&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe><br /><small><a href="https://maps.google.be/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sint-Sebastiaanstraat+19+3553+Paal&amp;sll=51.260385,4.35772&amp;sspn=0.392308,1.203003&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Sint-Sebastiaanstraat+19,+3583+Beringen,+Limburg,+Vlaams+Gewest&amp;ll=51.045027,5.168851&amp;spn=0.006158,0.018797&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Bekijk op grote kaart</a></small>
    </div>
</div>
<br />