@{
    Layout = "_Layout.cshtml";
}

<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/947037_10200623343019100_222937802_n.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Kelly Meykens richtte in 2001 praktijk op. 
            <p>
                BAchelor in de logopedia, 2001, Lessius Hogeschool, Antwerpen.
            </p>
        </p>
    </div>   
</div>    
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/947037_10200623343019100_222937802_n.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Kelly Meykens richtte in 2001 praktijk op. 
            <p>
                BAchelor in de logopedia, 2001, Lessius Hogeschool, Antwerpen.
            </p>
        </p>
    </div>   
</div>   
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/947037_10200623343019100_222937802_n.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Kelly Meykens richtte in 2001 praktijk op. 
            <p>
                BAchelor in de logopedia, 2001, Lessius Hogeschool, Antwerpen.
            </p>
        </p>
    </div>   
</div>   
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/947037_10200623343019100_222937802_n.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Kelly Meykens richtte in 2001 praktijk op. 
            <p>
                BAchelor in de logopedia, 2001, Lessius Hogeschool, Antwerpen.
            </p>
        </p>
    </div>   
</div>   
