@{
    Layout = "_Layout.cshtml";
}

<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/kelly.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            <strong>Kelly Meykens</strong> richtte in 2001 praktijk op.             
        </p>
        <p>
            Bachelor in de logopedie, 2001, Lessius Hogeschool, Antwerpen.
        </p>
    </div>   
</div>    
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/annemie.jpg" />       
    </div>   
    <div class="col-md-8">
       <p>
            In 2011 versterkte <strong>Anne-Mie Knaepen</strong> de praktijk.
        </p>
        <p>
            Bachelor in de logopedie, Hogeschool Gent.
        </p>
    </div>   
</div>   
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/eva.png" />       
    </div>   
    <div class="col-md-8">
        <p>
            In 2012 werd ons team uitgebreid met <strong>Eva Baerts</strong>.
        </p>
        <p>
            Bachelor in de logopedie, 2012, Artevelde Hogeschool Gent.
        </p>
    </div>   
</div>   
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/nore.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Sinds juli 2013 werken we samen met <strong>Nore Hamers</strong>. Zij is klinisch psychologe.
        </p>
        <p>
            Gespecialiseerd in de kinder- en ontwikkelinspsychologie, 2010, VUB.
        </p>
    </div>   
</div>   
