@{
    Layout = "_Layout.cshtml";
}

<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/kelly.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Kelly Meykens richtte in 2001 praktijk op.             
        </p>
        <p>
            Bachelor in de logopedie, 2001, Lessius Hogeschool, Antwerpen.
        </p>
    </div>   
</div>    
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/annemie.jpg" />       
    </div>   
    <div class="col-md-8">
       <p>
            In 2011 versterkte Anne-Mie Knaepen de praktijk.
        </p>
        <p>
            Bachelor in de logopedie, Hogeschool Gent.
        </p>
    </div>   
</div>   
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/eva.png" />       
    </div>   
    <div class="col-md-8">
        <p>
            In 2012 werd ons team uitgebreid met Eva Baerts.
        </p>
        <p>
            Bachelor in de logopedie, 2012, Artevelde Hogeschool Gent.
        </p>
    </div>   
</div>   
<div class="row marketing">
    <div class="col-md-4">
        <img width="200px" src="/Content/team/nore.jpg" />       
    </div>   
    <div class="col-md-8">
        <p>
            Sinds julie 2013 werken we samen met None Hamers. Zij is klinisch psychologe.
        </p>
        <p>
            Gespecialiseerd in de kinderen ontwikkelinspsychologie, 2010, VUB.
        </p>
    </div>   
</div>   
